.logo_wrapper {
    display: block;
}
.status {
    position: relative;
    display: inline-block;
    /*cursor: pointer;*/
    transition: .3s all;
}
.status:hover {
    transform: scale(1.02);
}
.status:active {
    transform: scale(.98);
}
.input {
    display: block;
}