.paginator {
    margin-top: 10px;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btnBlock .btn {
    margin-top: 0;
}
.pages {
    display: block;
    margin: 0 20px;
}
.users span {
    color: black;
    font-size: 10px;
    cursor: pointer;
    line-height: 1;
}
.selectedPage {
    font-weight: bold;
}
.btn {
    box-sizing: border-box;
    display: block;
    background-color: rgb(220, 220, 220);
    padding: 5px;
    line-height: .8;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    box-shadow: 5px 5px 5px rgb(150, 150, 150);
    font-size: 10px;
    margin-left: auto;
    margin-right: auto;
}
.btn_none {
    display: none;
}
.btn:hover {
    transform: scale(1.02);
    cursor: pointer;
}
.btn:active {
    transform: scale(.98);
}
.btn:focus, .btn:focus-visible {
    border: none;
}
