.profile_main_img {
    background: url(img/head.jpg) center center;
    background-size: cover;
    border-radius: 5px;
    min-height: 200px;
    box-shadow: 5px 5px 5px rgb(150, 150, 150);
    margin-bottom: 20px;
}