.wrapper {
    display: flex;
}
.logo_wrapper {
    margin: 0 0 20px 0;
}
.avatarWrapper {
    position: relative;
    margin-right: 20px;
}
.avatar {
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 5px;
    box-shadow: 5px 5px 5px rgb(150, 150, 150);
    margin-right: 20px;
    object-fit:cover;
    border: 1px solid rgb(220, 220, 220);
}
.btnEditProfile {
    display: block;
    text-align: center;
    margin: 10px 0 20px 0;
    cursor: pointer;
    transition: .3s all;
    color: black;
}
.btnEditProfile:hover {
    transform: scale(.99);
    color: gray;
}
.btnEditProfile:active {
    transform: scale(1);
    color: black;
}
.description {
    display: inline-block;
}
.fileInput {
    display: none;
}
.fileLabel {
    position: absolute;
    display: inline-block;
    cursor: pointer;
    font-size: 50px;
    font-weight: bold;
    line-height: .5;
    top: 0;
    left: 150px;
    transition: .3s all;
}
.fileLabel:hover {
    transform: scale(1.05);
    color: red;
}
.fileLabel:active {
    transform: scale(.95);
    color: black;
}
.text {
    font-size: 20px;
}
.fullName {
    font-size: 40px;
}